
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="http://www.rocket-internet.de/themes/rocket/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta content="About" about="/about-us" property="dc:title" />
  <link rel="canonical" href="/about-us" />
  <meta name="Generator" content="Drupal 7 (http://drupal.org)" />
  <link rel="shortlink" href="/node/173" />
  <title>About | Osterheim Constructions</title>

  <!--[if IE 7]>
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_9FbVxVzYp86ugtA4Pen6Z4dkw-pY-zDL37cdGgTDB7E.css" media="all" />
  <![endif]-->

  <!--[if IE 8]>
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_gU22xST5sud9iKEStxcifp_f0B3ULFQSdjsB8LcCNBg.css" media="all" />
  <![endif]-->

  <!--[if IE 9]>
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_AbpHGcgLb-kRsJGnwFEktk7uzpZOCcBY74-YBdrKVGs.css" media="all" />
  <![endif]-->
  <script type="text/javascript" src="http://www.rocket-internet.de/sites/default/files/js/js_3jHghlMLrjr9xXAC0JufqSSch3oAbkZstSqYdc4uuck.js"></script>
  <script type="text/javascript" src="http://www.rocket-internet.de/sites/default/files/js/js_ldh-lB_q4HeIAFjo2g0LTGRQziSWpc6c7eiT93Awom8.js"></script>
  <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-39867343-1"]);_gaq.push(["_gat._anonymizeIp"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
      //--><!]]>
  </script>
  <script type="text/javascript" src="http://www.rocket-internet.de/sites/default/files/js/js_BvcAICTyqfz8_JYtFPnAmtGjZChfTdDsIE2A8Eg-bQQ.js"></script>
  <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"rocket","theme_token":"Yc8oPgFWOSVBc7HSbBfFFitFronT0t6AgUsteBq0YK0","js":{"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/libraries\/modernizr\/modernizr.js":1,"sites\/all\/modules\/nice_menus\/superfish\/js\/superfish.js":1,"sites\/all\/modules\/nice_menus\/superfish\/js\/jquery.bgiframe.min.js":1,"sites\/all\/modules\/nice_menus\/superfish\/js\/jquery.hoverIntent.minified.js":1,"sites\/all\/modules\/nice_menus\/nice_menus.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1,"themes\/rocket\/js\/jquery.ui.core.min.js":1,"themes\/rocket\/js\/jquery.ui.widget.min.js":1,"themes\/rocket\/js\/jquery.ui.accordion.min.js":1,"themes\/rocket\/js\/jquery.mousewheel.js":1,"themes\/rocket\/js\/jquery.jscrollpane.js":1,"themes\/rocket\/js\/jquery.tools.min.js":1,"themes\/rocket\/js\/jquery.bxSlider.min.js":1,"themes\/rocket\/js\/jobs_filter.js":1,"themes\/rocket\/js\/jquery.social.stream.1.5.1.min.js":1,"themes\/rocket\/js\/jquery.social.stream.wall.1.3.js":1,"themes\/rocket\/js\/main.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"sites\/all\/modules\/date\/date_api\/date.css":1,"sites\/all\/modules\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ckeditor\/ckeditor.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/nice_menus\/nice_menus.css":1,"sites\/all\/modules\/nice_menus\/nice_menus_default.css":1,"sites\/all\/modules\/taxonomy_access\/taxonomy_access.css":1,"modules\/locale\/locale.css":1,"themes\/rocket\/css\/bootstrap.css":1,"themes\/rocket\/css\/theme.css":1,"themes\/rocket\/css\/font.css":1,"themes\/rocket\/css\/typography.css":1,"themes\/rocket\/css\/layout.css":1,"themes\/rocket\/css\/common.css":1,"themes\/rocket\/css\/jquery.jscrollpane.css":1,"themes\/rocket\/css\/bx_styles.css":1,"themes\/rocket\/css\/dcsns_wall.css":1,"themes\/rocket\/css\/ie7.css":1,"themes\/rocket\/css\/ie8.css":1,"themes\/rocket\/css\/ie9.css":1}},"nice_menus_options":{"delay":800,"speed":1},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"}});
      //--><!]]>
  </script>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<!-- HTML -->
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-173 node-type-page i18n-en" >
<!-- PAGE.TPL -->
<div id="wrap">
<div class="page-wrapper container">

  <!-- 960 GS
  <div id="gs" class="">
      <div class="clearfix row-fluid">
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
      </div>
  </div> -->

  <header id="header" class="row-fluid clearfix" role="banner">
    <hgroup class="span3">
      <div id="logo">
        <a href="/" title="Osterheim Constructions">
          <img src="http://i.imgur.com/4lpbfv7.png" alt="Osterheim Constructions" />
        </a>
      </div>
    </hgroup>
    <nav id="navigation" class="clearfix hec-m txtUpper span8" role="navigation">
      <div id="main-menu">
        <ul class="menu">
          <li class="first leaf"><a href="/">Home Page</a></li>
          <li class="leaf"><a href="about.html">O nas</a></li>
          <li class="leaf"><a href="offer.html">Oferta</a></li>
          <li class="leaf"><a href="references.html">Projekty</a></li>
          <li class="leaf"><a href="promotions.html" title="">Promocje</a></li>
          <li class="leaf"><a href="jobs.html" title="">Kariera</a></li>
          <li class="leaf"><a href="contact.html">Kontakt</a></li>

        </ul>				</div>
    </nav>
  </header>
</div>

<!-- BEGIN PageHeader -->
<div id="page-header" class="">
  <!-- REGION -->
  <div class="region region-header-background">
    <!-- BLOCK -->
    <div id="block-views-key-visual-block" class="block block-views">


      <div class="content">
        <div class="view view-key-visual view-id-key_visual view-display-id-block view-dom-id-975df59e78ed869d001f0ec3c92fd729">



          <div class="view-content">
            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">



              <div class="header-img">
                <img typeof="foaf:Image" src="http://i.imgur.com/MvtixJK.png" width="1040" height="320" alt="About - Osterheim Constructions" /></div>
              <div class="header-wrapper">
                <div class="header-text">
                  <div class="header-red-title">
                    <span>Pasja od pokolen</span>
                  </div>

                  <span>&nbsp;Przeprowadzilismy ponad 300 &nbsp;projektow budowlanych &nbsp;<br/>&nbsp;w 7 europejskich krajach&nbsp;</br></span>

                  <span class="header-text-subtitle"></span>
                </div>
              </div>    </div>
          </div>






        </div>  </div>

    </div>
  </div>
  <div class="page-wrapper transparent container">
    <div id="page-header-inner" class="clearfix row-fluid">
    </div>
  </div>
</div>
<!-- END PageHeader -->

<div class="page-wrapper container">
  <!-- BEGIN Content -->
  <div id="page-content">
    <section id="content-header">

    </section>
    <section id="content-middle" class="clearfix row">
      <div id="content-inner" class=" span8 clearfix">
        <div class="row-fluid">



          <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h2 class="rtejustify">
              The leading international venture builder</h2>
              <h4 class="rtejustify">
                Who we are</h4>
              <p>Osterheim Constructions is the largest, fastest and most successful international online venture builder. Our team has been building online companies since 1999 and has created over 100 market leading companies in 40+ countries, dozens of which have been exited successfully. Since 2007 our team operates under the name of Osterheim Constructions.<br />
                <br />
                We are headquartered right in the vibrant centre of Berlin, Europe's Silicon Valley, and operate a network of 25 international Rocket offices, covering all relevant developed and emerging markets. Our primary focus is on building proven, transaction-based business models in the online and mobile space. We are however not limited by such parameters and seize other attractive opportunities whenever they arise.<br />
                <br />
                Investors in companies started by Osterheim Constructions include Investment AB Kinnevik, Holtzbrinck Ventures and many others.</p>
              <h4 class="rtejustify">
                How we work</h4>
              <p>Rocket is much more than a venture capital firm or an incubator. We bring together all key elements required to create great companies: team, concept, technology, and capital. We are 100 percent operationally involved in building our ventures and cover all critical functions with our expert teams. They work together seamlessly in order to ensure that best practices are implemented in all key areas.<br />
                <br />
                These teams include: Engineering and Product Development, Online Marketing, CRM, Business Intelligence, Operations, HR, and Finance. In addition, we have a global mobile task force of top entrepreneurial talents that brings expertise and speed to all our markets.</p>
              <h4 class="rtejustify">
                Wyznawane przez nas wartosci</h4>
              <p>We are passionate entrepreneurs and focus on performance. We remain humble, and we understand that success is a result of hard work. We want to learn every day and share our knowledge with each other. We focus on the details and always try to solve problems ourselves.<br />
                <br />
                We want to be selfless and pragmatic and have no time for politics. We value intelligence more than experience. We believe that anything is possible. We move as fast as we can and take risks. We like to get and give autonomy and responsibility. We are flexible and tolerant towards ambiguity and uncertainty. And above all: we are always looking for great people. So come and <a href="http://rocket-internet.com/jobs" rel="nofollow">join us</a>!</p>
            </div></div></div>  </div>

          <footer>
          </footer>

        </div>
      </div>
      <div id="content-sidebar" class="span4">
        <!-- REGION -->
        <div class="region region-content-sidebar">
          <!-- BLOCK -->
          <div id="block-block-6" class="block block-block">

            <h2 >Facts about us</h2>

            <div class="content">
              <ul><li>
                Started in 2007</li>
                <li>
                  Headquarters in Berlin</li>
                <li>
                  25 international offices in all 5 continents</li>
                <li>
                  Operational reach: 40+ countries</li>
                <li>
                  50+ active independent portfolio companies,<br />
                  many of them in multiple markets</li>
                <li>
                  100+ market leading companies launched worldwide since 1999</li>
                <li>
                  Employees in Osterheim Constructions: 700+</li>
                <li>
                  Employees in Rocket portfolio companies: 15.000+</li>
              </ul>  </div>

          </div>
          <!-- BLOCK -->
          <div id="block-block-11" class="block block-block">


            <div class="content">
              <p><img alt="" src="/sites/all//images/careerA_03.jpg" style="width: 319px; height: 456px; " /></p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id="content-footer">
    </section>
  </div>
  <!-- END Content -->
</div>

<!-- BEGIN Footer -->
<footer id="footer">
  <div class="page-wrapper container">
    <div id="footer-inner clearfix">
      <!-- REGION -->
      <div class="region region-footer">
        <!-- BLOCK -->
        <div id="block-block-3" class="block block-block">


          <div class="content">
            <div id="footer-inner-left">
              <p>2010 © Osterheim Constructions <a href="/contact">Contact</a> <a href="/imprint">Imprint</a></p>
            </div>
            <div id="footer-inner-right">
              <a class="facebook" href="https://www.facebook.com/OsterheimConstructionsBerlin" target="blank" title="Facebook"><span>Facebook</span></a></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->
</div>
</body>
</html>


