<header id="header" class="row-fluid clearfix" role="banner">
  <hgroup class="span3">
    <div id="logo">
      <a href="/" title="Osterheim Constructions">
        <img src="http://i.imgur.com/4lpbfv7.png" alt="Osterheim Constructions" />
      </a>
    </div>
  </hgroup>
  <nav id="navigation" class="clearfix hec-m txtUpper span8" role="navigation">
    <div id="main-menu">
      <ul class="menu"><li class="first leaf"><a href="about.html">O nas</a></li>
        <li class="leaf"><a href="offer.html">Oferta</a></li>
        <li class="leaf"><a href="references.html">Projekty</a></li>
        <li class="leaf"><a href="promotions.html" title="">Promocje</a></li>
        <li class="leaf"><a href="contact.html">Kontakt</a></li>

      </ul>				</div>
  </nav>
</header>




