
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="http://www.rocket-internet.de/themes/rocket/favicon.ico" type="image/vnd.microsoft.icon" />
  <meta content="Headquarters Berlin - Germany" about="/office/germany-berlin" property="dc:title" />
  <link rel="canonical" href="/office/germany-berlin" />
  <meta name="Generator" content="Drupal 7 (http://drupal.org)" />
  <link rel="shortlink" href="/node/167" />
  <title>Headquarters Berlin - Germany | Osterheim Constructions</title>
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_Z_KQyXTcIGmFPRfGZOOTJ1xsEckXlqMhF53CkTgnOVA.css" media="all" />
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css__r408iefJFDp7tkJY64xde0BtyLdHU1-GytpTja6H4w.css" media="all" />
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_JMKz5HdbvUeF_8TRjpHDEm9Ih4HD5LUys04RUv-MpEI.css" media="all" />
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_jyT_JP1W9B-DHSvS0cDuLZlNxnqlbWjsCprMUg9tevM.css" media="all" />

  <!--[if IE 7]>
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_9FbVxVzYp86ugtA4Pen6Z4dkw-pY-zDL37cdGgTDB7E.css" media="all" />
  <![endif]-->

  <!--[if IE 8]>
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_gU22xST5sud9iKEStxcifp_f0B3ULFQSdjsB8LcCNBg.css" media="all" />
  <![endif]-->

  <!--[if IE 9]>
  <link type="text/css" rel="stylesheet" href="http://www.rocket-internet.de/sites/default/files/css/css_AbpHGcgLb-kRsJGnwFEktk7uzpZOCcBY74-YBdrKVGs.css" media="all" />
  <![endif]-->
  <script type="text/javascript" src="http://www.rocket-internet.de/sites/default/files/js/js_3jHghlMLrjr9xXAC0JufqSSch3oAbkZstSqYdc4uuck.js"></script>
  <script type="text/javascript" src="http://www.rocket-internet.de/sites/default/files/js/js_ldh-lB_q4HeIAFjo2g0LTGRQziSWpc6c7eiT93Awom8.js"></script>
  <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-39867343-1"]);_gaq.push(["_gat._anonymizeIp"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
      //--><!]]>
  </script>
  <script type="text/javascript" src="http://www.rocket-internet.de/sites/default/files/js/js_BvcAICTyqfz8_JYtFPnAmtGjZChfTdDsIE2A8Eg-bQQ.js"></script>
  <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"rocket","theme_token":"cCpf9_2B7JzSNyfrPBR8JJ7C5eEBL2GR2d1B4LakG40","js":{"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/libraries\/modernizr\/modernizr.js":1,"sites\/all\/modules\/nice_menus\/superfish\/js\/superfish.js":1,"sites\/all\/modules\/nice_menus\/superfish\/js\/jquery.bgiframe.min.js":1,"sites\/all\/modules\/nice_menus\/superfish\/js\/jquery.hoverIntent.minified.js":1,"sites\/all\/modules\/nice_menus\/nice_menus.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1,"themes\/rocket\/js\/jquery.ui.core.min.js":1,"themes\/rocket\/js\/jquery.ui.widget.min.js":1,"themes\/rocket\/js\/jquery.ui.accordion.min.js":1,"themes\/rocket\/js\/jquery.mousewheel.js":1,"themes\/rocket\/js\/jquery.jscrollpane.js":1,"themes\/rocket\/js\/jquery.tools.min.js":1,"themes\/rocket\/js\/jquery.bxSlider.min.js":1,"themes\/rocket\/js\/jobs_filter.js":1,"themes\/rocket\/js\/jquery.social.stream.1.5.1.min.js":1,"themes\/rocket\/js\/jquery.social.stream.wall.1.3.js":1,"themes\/rocket\/js\/main.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"sites\/all\/modules\/date\/date_api\/date.css":1,"sites\/all\/modules\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ckeditor\/ckeditor.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/nice_menus\/nice_menus.css":1,"sites\/all\/modules\/nice_menus\/nice_menus_default.css":1,"sites\/all\/modules\/taxonomy_access\/taxonomy_access.css":1,"modules\/locale\/locale.css":1,"themes\/rocket\/css\/bootstrap.css":1,"themes\/rocket\/css\/theme.css":1,"themes\/rocket\/css\/font.css":1,"themes\/rocket\/css\/typography.css":1,"themes\/rocket\/css\/layout.css":1,"themes\/rocket\/css\/common.css":1,"themes\/rocket\/css\/jquery.jscrollpane.css":1,"themes\/rocket\/css\/bx_styles.css":1,"themes\/rocket\/css\/dcsns_wall.css":1,"themes\/rocket\/css\/ie7.css":1,"themes\/rocket\/css\/ie8.css":1,"themes\/rocket\/css\/ie9.css":1}},"nice_menus_options":{"delay":800,"speed":1},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"}});
      //--><!]]>
  </script>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<!-- HTML -->
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-167 node-type-office i18n-en" >
<!-- PAGE.TPL -->
<div id="wrap">
<div class="page-wrapper container">

  <!-- 960 GS
  <div id="gs" class="">
      <div class="clearfix row-fluid">
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
          <div class="span1"></div>
      </div>
  </div> -->

  <header id="header" class="row-fluid clearfix" role="banner">
    <hgroup class="span3">
      <div id="logo">
        <a href="/" title="Osterheim Constructions">
          <img src="http://i.imgur.com/4lpbfv7.png" alt="Osterheim Constructions" />
        </a>
      </div>
    </hgroup>
    <nav id="navigation" class="clearfix hec-m txtUpper span8" role="navigation">
      <div id="main-menu">
        <ul class="menu">
          <li class="first leaf"><a href="/">Home Page</a></li>
          <li class="leaf"><a href="about.html">O nas</a></li>
          <li class="leaf"><a href="offer.html">Oferta</a></li>
          <li class="leaf"><a href="references.html">Projekty</a></li>
          <li class="leaf"><a href="promotions.html" title="">Promocje</a></li>
          <li class="leaf"><a href="jobs.html" title="">Kariera</a></li>
          <li class="leaf"><a href="contact.html">Kontakt</a></li>

        </ul>				</div>
    </nav>
  </header>
</div>

<!-- BEGIN PageHeader -->
<div id="page-header" class="">
  <!-- REGION -->
  <div class="region region-header-background">
    <!-- BLOCK -->
    <div id="block-views-key-visual-block" class="block block-views">


      <div class="content">
        <div class="view view-key-visual view-id-key_visual view-display-id-block view-dom-id-757f3ee0bfd3ba9e9296550476d11e1e">



          <div class="view-content">
            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">



              <div class="header-img">
                <img typeof="foaf:Image" src="http://i.imgur.com/0WmYfWf.png" width="1040" height="320" alt="Office Berlin - Osterheim Constructions" /></div>
              <div class="header-wrapper">
                <div class="header-text">
                  <div class="header-red-title">
                    <span>WHERE TO FIND US</span>
                  </div>

                  <span>headquarters</span>

                  <span class="header-text-subtitle">Berlin - Germany</span>
                </div>
              </div>    </div>
          </div>






        </div>  </div>

    </div>
  </div>
  <div class="page-wrapper transparent container">
    <div id="page-header-inner" class="clearfix row-fluid">
    </div>
  </div>
</div>
<!-- END PageHeader -->

<div class="page-wrapper container">
<!-- BEGIN Content -->
<div id="page-content">
<section id="content-header">

</section>
<section id="content-middle" class="clearfix row">
  <div id="content-inner" class=" span8 clearfix">
    <div class="row-fluid">
      <div id="page-office" class="clearfix">
        <h2>Address Info &amp; Contact</h2>
        <div class="row-fluid adress-container">
          <div class="float-left span6 adress-map">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=Johannisstra%C3%9Fe+20,+10117+Berlin&amp;zoom=16&amp;size=460x270&amp;maptype=roadmap&amp;markers=color:red|color:red|label:A|52.52459,13.388901&amp;sensor=false" />
          </div>
          <div class="float-left span6 adress-info">
            <h3>How to find us</h3>
            <div class="adress"><p>Osterheim Constructions<br />
              JOHANNISSTRAßE 20<br />
              10117 BERLIN - GERMANY</p>
            </div>
            <div class="public-trafic"><p>Tram 10<br />
              S5 Friedrichstraße</p></div>
            <div class="links"><ul><li><a href="mailto:info@rocket-internet.com">Contact</a></li></ul></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="content-sidebar" class="span4">
    <!-- REGION -->
    <div class="region region-content-sidebar">
      <!-- BLOCK -->
      <div id="block-views-offices-residence-block" class="block block-views">


        <div class="content">
          <div class="view view-offices-residence view-id-offices_residence view-display-id-block view-dom-id-df6980423a094713e9a6dbe210cbd197">



            <div class="view-content">

              <div class="item-list"><ul>

                <input type="hidden" id="active-menu-key" value="2"/>
                <div class="right-js-menu">
                  <div class="menu-acordion">
                    <h3>Africa</h3>
                    <div class="subMenus">
                      <ul>
                        <li><a href="/office/egypt-cairo" >Egypt - Cairo</a></li>
                        <li><a href="/office/morocco-casablanca" >Morocco - Casablanca</a></li>
                        <li><a href="/office/nigeria-lagos" >Nigeria - Lagos</a></li>
                        <li><a href="/office/south-africa-cape-town" >South Africa - Cape Town</a></li>
                      </ul>
                    </div>
                    <h3>Asia</h3>
                    <div class="subMenus">
                      <ul>
                        <li><a href="/office/hong-kong-kowloon" >Hong Kong - Kowloon</a></li>
                        <li><a href="/office/india-gurgaon" >India - Gurgaon</a></li>
                        <li><a href="/office/indonesia-jakarta" >Indonesia	 - Jakarta</a></li>
                        <li><a href="/office/korea-seoul" >Korea - Seoul</a></li>
                        <li><a href="/office/philippines-makati" >Philippines - Makati</a></li>
                        <li><a href="/office/mena-dubai" >UAE - Dubai</a></li>
                      </ul>
                    </div>
                    <h3>Europe</h3>
                    <div class="subMenus">
                      <ul>
                        <li><a href="/office/benelux-amsterdam" >Benelux - Amsterdam</a></li>
                        <li><a href="/office/france" >France - Paris</a></li>
                        <li><a href="/office/germany-berlin"  class="active-arcordeon-link">Germany - Berlin</a></li>
                        <li><a href="/office/germany-munich" >Germany - Munich</a></li>
                        <li><a href="/office/italy-milano" >Italy - Milano</a></li>
                        <li><a href="/office/poland" >Poland - Warsaw</a></li>
                        <li><a href="/office/portugal-porto" >Portugal - Porto Tech Center</a></li>
                        <li><a href="/office/russia-moscow" >Russia - Moscow</a></li>
                        <li><a href="/office/sweden-stockholm" >Scandinavia - Stockholm</a></li>
                        <li><a href="/office/uk-london" >UK - London</a></li>
                      </ul>
                    </div>
                    <h3>North America</h3>
                    <div class="subMenus">
                      <ul>
                        <li><a href="/office/usa-san-francisco" >USA - New York</a></li>
                        <li><a href="/office/usa-san-francisco-0" >USA - San Francisco</a></li>
                      </ul>
                    </div>
                    <h3>South America</h3>
                    <div class="subMenus">
                      <ul>
                        <li><a href="/office/latam-buenos-aires" >Argentina - Buenos Aires</a></li>
                        <li><a href="/office/brazil-sao-paulo" >Brazil - Sao Paulo</a></li>
                        <li><a href="/office/chile-santiago-de-chile" >Chile - Santiago de Chile</a></li>
                        <li><a href="/office/colombia-bogot%C3%A0" >Colombia - Bogotà</a></li>
                        <li><a href="/office/mexico-mexico-city" >Mexico - Mexico City</a></li>
                        <li><a href="/office/peru-lima" >Peru - Lima</a></li>
                        <li><a href="/office/venezuela-caracas" >Venezuela - Caracas</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </ul></div>    </div>






          </div>  </div>

      </div>
    </div>
  </div>
</section>
<section id="content-footer">
  <!-- REGION -->
  <div class="region region-content-footer">
    <!-- BLOCK -->
    <div id="block-views-venture-logos-block-1" class="block block-views">

      <h2 >Ventures</h2>

      <div class="content">
        <div class="view view-venture-logos view-id-venture_logos view-display-id-block_1 venture-logos-container view-dom-id-59228f651b63d26afca9a7882a7d1677">



          <div class="view-content">
            <div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/21diamonds.png" width="113" height="60" alt="" rel="#b9916c8e" /><div id="b9916c8e" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/21diamonds.png" width="113" height="60" alt="" /><p><strong><a href="http://www.21diamonds.de/" target="_blank">21diamonds</a></strong> is a leading online retailer for fine customizable jewellery. Our unique business model, based on innovation and customization, has made the company one of the biggest online jewelers in Europe. Our approach to jewelry is based on quality design and unique, fully customizable pieces.</p>
            </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/ads%20for%20rocket.jpg" width="178" height="60" alt="" rel="#c0088bb4" /><div id="c0088bb4" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/ads%20for%20rocket.jpg" width="178" height="60" alt="" /><p><strong><a href="//www.ads.com.mm" target="_blank">Ads.com.mm</a> </strong>is the best way to find cheap phones, beautiful antiques or the latest fasion. Every day thousands of people are connected through Ads.com.mm to sell their products and find the bargain they were looking for. Within second you can compare multiple offers for a product and contact the seller to make the deal.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/airizu_0.png" width="81" height="60" alt="" rel="#ff0b5512" /><div id="ff0b5512" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/airizu_0.png" width="81" height="60" alt="" /><p><strong><a href="http://www.airizu.com/" target="_blank">Airizu</a></strong> is a Chinese online community and marketplace for short-term apartment rentals. Currently are 60,000 apartments in 70 cities available. Users rent homes diretly from a private owner, and can save up to 30-50 percent compared to hotel costs.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/airu.png" width="75" height="60" alt="" rel="#1a97ab41" /><div id="1a97ab41" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/airu.png" width="75" height="60" alt="" /><p><strong><a href="http://www.airu.com.br/" target="_blank">Airu</a></strong> is an online marketplace for handmade and vintage goods in Brazil. The site connects buyers and sellers, offering small and independent business owners a platform on which to sell their products, and buyers a place to find unique handmade products available only in very limited quantities.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/autoda.png" width="99" height="60" alt="" rel="#040d5679" /><div id="040d5679" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/autoda.png" width="99" height="60" alt="" /><p><strong><a href="http://www.autoda.de/" target="_blank">Autoda</a></strong> is Germany’s first and biggest online shop for pre-owned cars. The business model of autoda is unique: customers can not only reserve the car they want to buy; they can furthermore order and pay directly via autoda – mostly at the best price in the German internet. All automobiles are selected on the base of strict quality criterias and are inspected by experts from trusted institutions like TÜV or DEKRA. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/azmalo.jpg" width="105" height="60" alt="" rel="#0a4764ba" /><div id="0a4764ba" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/azmalo.jpg" width="105" height="60" alt="" /><p><a href="http://azmalo.pk" target="_blank">Azmalo</a> is Pakistan's #1 marketplace for everybody to sell their products on the Internet!</p>
          </div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/billpay.png" width="94" height="60" alt="" rel="#6f79342b" /><div id="6f79342b" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/billpay.png" width="94" height="60" alt="" /><p><strong><a href="https://www.billpay.de/" target="_blank">BillPay</a></strong> provides advanced technology services that allow business and personal customers to make online bill payments. Online retailer can offer customers payments via invoice, in rates or by debit – without any credit risk.</p>
          </div></div><div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/cuponation.jpg" width="105" height="60" alt="" rel="#8295b021" /><div id="8295b021" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/cuponation.jpg" width="105" height="60" alt="" /><p><strong><a href="//www.cuponation.in/" target="_blank">CupoNation</a> </strong>is the new destination to help you save. We work tirelessly to scout the newest deals and promotions for you that help you save money.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/dafiti_0.png" width="86" height="60" alt="" rel="#f1645d2a" /><div id="f1645d2a" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/dafiti_0.png" width="86" height="60" alt="" /><p><strong><a href="http://www.dafiti.com.br/" target="_blank">dafiti</a></strong> is one of the leading online shops for shoes and fashion in Brazil. The shop offers a broad selection of international and local brands at best prices and with compelling customer care. All orders are free of delivery or returning costs. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/dalani.png" width="115" height="60" alt="" rel="#bdafe9cd" /><div id="bdafe9cd" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/dalani.png" width="115" height="60" alt="" /><p><strong><a href="https://www.dalani.co.uk/" target="_blank">Dalani</a></strong> is the leading home and lifestyle e-tailing dedicated to bringing you the best home and living products, brands and design inspirations. We offer the finest possible products from emerging talent to established designers at exclusive prices. Each weekly sale is carefully selected and is available for a short time only, at up to 70% off the recommended retail price. Dalani is part of the Westwing network, which is active in most of the European countries, India, Brazil, and Australia. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/daraz_0.jpg" width="106" height="60" alt="" rel="#793b5b7c" /><div id="793b5b7c" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/daraz_0.jpg" width="106" height="60" alt="" /><p><a href="http://daraz.pk">Daraz</a> is one of the leading online shops for shoes and fashion in Pakistan. The shop offers a broad selection of international and local brands at best prices and with compelling customer care. All orders are free of delivery or returning costs. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/dropgifts.jpg" width="118" height="60" alt="" rel="#99c7a1c0" /><div id="99c7a1c0" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/dropgifts.jpg" width="118" height="60" alt="" /><p><strong><a href="http://www.dropgifts.com/" target="_blank">DropGifts</a></strong> is the innovation of gifting: send personalized giftcards to your Facebook friends via web or our mobile apps. We partner with a wide range of popular brands, so we have something to suit everyone. Gifts appear in Facebook news feeds when they are given and received. Retailers benefit from peer-to-peer public recommendation every time one of their gift cards is purchased.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/taxi.jpg" width="106" height="60" alt="" rel="#10386163" /><div id="10386163" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/taxi.jpg" width="106" height="60" alt="" /><p><strong><a href="http://www.easytaxi.com.br" target="_blank">Easy Taxi</a></strong> is the easiest and fastest way to call a taxi via an app based solution.</div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/edarling.png" width="93" height="60" alt="" rel="#3b412c1d" /><div id="3b412c1d" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/edarling.png" width="93" height="60" alt="" /><p><strong><a href="http://www.edarling.de/" target="_blank">eDarling</a></strong> is one of the leading online partner agencies in Europe. We are focusing on connecting sophisticated singles, looking for a long-term relationship. Basis for our service is a matching technique based on scientific results.  </p>
          </div></div><div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/fabfurnish.png" width="95" height="60" alt="" rel="#59ce7a69" /><div id="59ce7a69" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/fabfurnish.png" width="95" height="60" alt="" /><p><strong><a href="http://www.fabfurnish.com/" target="_blank">FabFurnish</a></strong> is India’s new dedicated online shopping destination for a wide range of furniture and home ware. We offer our products for best prices and with an uncomparable customer service. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/foodnation.jpg" width="105" height="60" alt="" rel="#4540f94b" /><div id="4540f94b" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/foodnation.jpg" width="105" height="60" alt="" /><p><strong><a href="//www.foodnation.ru" target="_blank">Foodnation</a> </strong>allows customers to order food for delivery from all the best restaurants in Russia.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/foodpanda_0.png" width="129" height="60" alt="" rel="#d02f2e02" /><div id="d02f2e02" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/foodpanda_0.png" width="129" height="60" alt="" /><p><strong><a href="http://foodpanda.com/" target="_blank">Foodpanda</a></strong> is the fastest growing online food delivery service globally. It is mainly active in Eastern Europe and Southeast Asia.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/glossybox_0.png" width="118" height="60" alt="" rel="#16167667" /><div id="16167667" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/glossybox_0.png" width="118" height="60" alt="" /><p><strong><a href="http://www.glossybox.de/" target="_blank">Glossybox</a></strong> is the leading European online subscription service for a luxury package full of premium beauty samples. With your box you will receive samples of the best makeup, hair and skin care products for women or men. Our boxes contain top beauty offerings from well known luxury brands and up-and-coming niche brands. Your GLOSSYBOX arrives each month and contains expert beauty tips on how to look beautiful with your new cosmetic samples. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/goodbeans-logo1_0.jpeg" width="113" height="60" alt="" rel="#c31077c5" /><div id="c31077c5" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/goodbeans-logo1_0.jpeg" width="113" height="60" alt="" /><p><strong><a href="http://www.goodbeans.de/" target="_blank">Goodbeans</a></strong> is Europe’s leading provider of safe, family-friendly, fun and diverse apps plus online worlds. Our game and learning products function is the first point of contact with the digital world for children up until 12 years of age. goodbeans games have millions of members from all over the world.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/hellofood.jpg" width="106" height="60" alt="" rel="#316a4291" /><div id="316a4291" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/hellofood.jpg" width="106" height="60" alt="" /><p><strong><a href="https://hellofood.com" target="_blank">Hellofood</a></strong> allows customers to order food for delivery from all the best restaurants in currently six African states: Nigeria, Morocco, Ghana, Ivory Coast, Kenya, Senegal.</div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/hellofresh.png" width="137" height="60" alt="" rel="#e229a93a" /><div id="e229a93a" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/hellofresh.png" width="137" height="60" alt="" /><p><strong><a href="http://www.hellofresh.de/" target="_blank">HelloFresh</a></strong> is a fast and convenient online food delivery service that delivers great recipes and fresh ingredients to your home each week.</p>
          </div></div><div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/home24.png" width="100" height="60" alt="" rel="#a5f705c5" /><div id="a5f705c5" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/home24.png" width="100" height="60" alt="" /><p><strong><a href="http://www.home24.de/" target="_blank">Home24</a></strong> delivers best brands in furnitures &amp; home accessoires.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/house-for-rocket_1.jpg" width="178" height="60" alt="" rel="#10f0d266" /><div id="10f0d266" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/house-for-rocket_1.jpg" width="178" height="60" alt="" /><p><strong><a href="//www.house.com.mm" target="_blank">House.com.mm</a> </strong>is Myanmar’s leading website for finding and listing properties. The site facilitates all types of properties from commercial real estate and large condo’s to smaller rooms for rent. People searching for a property will easily find their property of dreams and are only a mouse click away from contacting the owner directly.</p>



          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/immobilio.png" width="122" height="60" alt="" rel="#be8943a3" /><div id="be8943a3" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/immobilio.png" width="122" height="60" alt="" /><p><strong><a href="http://www.immobilo.de/" target="_blank">Immobilo</a></strong> is the leading German search engine for properties. The portal is partner of all major property websites and classified ad providers. So, here you find all offerings on one page, with a convincing and easy to handle usability.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/jumia.png" width="150" height="60" alt="" rel="#50c84b5d" /><div id="50c84b5d" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/jumia.png" width="150" height="60" alt="" /><p><strong><a href="//www.jumia.com/" target="_blank">Jumia</a> </strong>is your one-stop online shop for all your needs. We offer a wide selection of products including but not limited to electronics, fashion, furniture, home appliances and many more, bringing them right to your doorstep.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/kanui.png" width="61" height="60" alt="" rel="#82102eb9" /><div id="82102eb9" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/kanui.png" width="61" height="60" alt="" /><p><strong><a href="http://www.kanui.com.br/" target="_blank">Kanui</a></strong> is a leading Brazilian online shop offering a big selection of sports, exercise and outdoor gear, apparel and equipment.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/kaymu.jpg" width="105" height="60" alt="" rel="#4f6caeec" /><div id="4f6caeec" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/kaymu.jpg" width="105" height="60" alt="" /><p><a href="http://kaymu.com.ng" target="_blank">Kaymu</a> is Nigeria's #1 marketplace for everybody to sell their products on the Internet!</p></div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/lamoda.png" width="92" height="60" alt="" rel="#9479155b" /><div id="9479155b" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/lamoda.png" width="92" height="60" alt="" /><p><strong><a href="http://www.lamoda.ru/" target="_blank">lamoda</a></strong> is Russia’s leading online shop for shoes, fashion and beauty. The shop offers a broad selection of international and local brands at best prices and with compelling customer care. All orders are free of delivery and returning costs.</p>
          </div></div><div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/lazada.png" width="88" height="60" alt="" rel="#1e1c5dd2" /><div id="1e1c5dd2" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/lazada.png" width="88" height="60" alt="" /><p><strong><a href="http://www.lazada.com/" target="_blank">lazada</a></strong> is an online retailer for home appliances and electronics including TVs, computers, cameras, musical instruments, video games, navigation and mobile phones.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/linio.jpg" width="105" height="60" alt="" rel="#bfde75bc" /><div id="bfde75bc" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/linio.jpg" width="105" height="60" alt="" /><p><strong><a href="http://linio.com/" target="_blank">linio</a></strong> Online retailer home appliances and electronics including TVs, computers, cameras, musical instruments, video games, navigation and mobile phones.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/mebelrama.png" width="127" height="60" alt="" rel="#d4eb7e5f" /><div id="d4eb7e5f" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/mebelrama.png" width="127" height="60" alt="" /><p><strong><a href="http://www.mebelrama.ru/" target="_blank">Mebelrama</a></strong> is a Russian online shop for homewears, furniture, lighting and all other decorative touches you need to design your home from top to botttom. The site offers a broad selection of leading and new brands, and is focused on a compelling customer care.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/mobly.png" width="96" height="60" alt="" rel="#d5c8cb55" /><div id="d5c8cb55" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/mobly.png" width="96" height="60" alt="" /><p><strong><a href="http://www.mobly.com.br/" target="_blank">Mobly</a></strong> is Brazil's online shop for homewears, furniture, lighting and all other decorative touches you need to design your home from top to botttom. The site offers a broad selection of leading and new brands, and is focused on a compelling customer care.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/motors-for-rocket.jpg" width="178" height="60" alt="" rel="#f4f513ad" /><div id="f4f513ad" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/motors-for-rocket.jpg" width="178" height="60" alt="" /><p><a href="http://motors.com.mm/" target="_blank">Motors.com.mm</a> is the ultimate website for buying and selling new and used cars from all over the world brought by a local dealer. With useful buying and selling tips, local support, and buyer comparison tools, Motors.com.mm lets you make confident decisions whether buying or selling a car.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/namshi.png" width="82" height="60" alt="" rel="#9c89fb68" /><div id="9c89fb68" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/namshi.png" width="82" height="60" alt="" /><p><strong><a href="http://www.namshi.com/" target="_blank">Namshi</a></strong> is one of the leading online shops for shoes and fashion in the Middle East. The shop offers a broad selection of international and local brands at best prices and with compelling customer care. All orders are free of delivery and returning costs.</p>
          </div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/netzoptiker.png" width="120" height="60" alt="" rel="#0fa3febb" /><div id="0fa3febb" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/netzoptiker.png" width="120" height="60" alt="" /><p><strong><a href="http://www.netzoptiker.de/" target="_blank">Netzoptiker</a></strong> is a leading German specialist for perfect glasses, contact lenses and sunglasses. The online shop offers a wide range of high quality products from popular brands at affordable prices. Always central is a compelling customer care.</p>
          </div></div><div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/officefab_logo_0.jpg" width="86" height="60" alt="" rel="#a35c5aa5" /><div id="a35c5aa5" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/officefab_logo_0.jpg" width="86" height="60" alt="" /><p>&nbsp;</p>
            <p><strong><a href="http://www.officefab.vn" target="_blank">OfficeFab</a></strong> is a young and vibrant company that aims to provide great value and excellent quality products to your office - from printers and paper to cartridges and coffee.</p></div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/officeyes_0.png" width="93" height="60" alt="" rel="#1b029565" /><div id="1b029565" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/officeyes_0.png" width="93" height="60" alt="" /><p> <br /><strong><a href="http://www.officeyes.com/" target="_blank">OfficeYes</a></strong> is a young and vibrant company that aims to provide great value and excellent quality products to your office - from printers and paper to cartridges and coffee.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/payleven-logo-1_1.png" width="140" height="60" alt="" rel="#7938103a" /><div id="7938103a" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/payleven-logo-1_1.png" width="140" height="60" alt="" /><p><strong><a href="https://payleven.de/" target="_blank">payleven</a></strong> The easiest way to accept card payments. Mobile card payment with smartphone or tablet.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/paymill.png" width="140" height="60" alt="" rel="#b5e74c88" /><div id="b5e74c88" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/paymill.png" width="140" height="60" alt="" /><p><strong><a href="https://www.paymill.de/" target="_blank">Paymill</a></strong> is the fastest and easiest way to accept credit cards on your website. So far, smaller online shops couldn't afford credit card payment. Paymill provides an innovative solution to offer this service to everyone.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/pinspire.png" width="75" height="60" alt="" rel="#1cf0f8d6" /><div id="1cf0f8d6" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/pinspire.png" width="75" height="60" alt="" /><p><strong><a href="http://www.pinspire.de/" target="_blank">pinspire</a></strong> is a social platform for a beautiful way of sharing content like images, videos, links, and more  with other members and finding the perfect style, product or recipe.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/logo-plinga.jpg" width="105" height="60" alt="" rel="#87e14a47" /><div id="87e14a47" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/logo-plinga.jpg" width="105" height="60" alt="" /><p><strong><a href="http://plinga.com/" target="_blank">Plinga</a></strong> connects social application and game developers with premium social networks around the globe.</p>
          </div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/pricepanda_0.png" width="127" height="60" alt="" rel="#3c774f88" /><div id="3c774f88" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/pricepanda_0.png" width="127" height="60" alt="" /><p><a href="http://pricepanda.com.my">Pricepanda</a> is the leading price comparison engine in South East Asia.</p>
          </div></div><div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/logoprintvenue_0.jpeg" width="118" height="60" alt="" rel="#7fc6eadc" /><div id="7fc6eadc" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/logoprintvenue_0.jpeg" width="118" height="60" alt="" /><p> </p>
            <p>	<a href="http://www.printvenue.com/">Printvenue</a> is a one stop shop for printing solutions at affordable prices for professionals and corporate across India. The Printvenue model is created in a way that it provides access to premium high quality products, printing of material, for example business cards, letter heads, notepads and stamps.</p>
            <p>	 </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/iconic.png" width="47" height="60" alt="" rel="#a513957a" /><div id="a513957a" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/iconic.png" width="47" height="60" alt="" /><p><strong><a href="http://www.theiconic.com.au/" target="_blank">The Iconic</a></strong> Australia's best online fashion and footwear store with the trendiest brands.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/tricae.png" width="77" height="60" alt="" rel="#584f62ab" /><div id="584f62ab" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/tricae.png" width="77" height="60" alt="" /><p><strong><a href="http://www.tricae.com.br/" target="_blank">Tricae</a></strong> is an Brazilian online shop that offers a broad variety of children's clothing, shoes and toys.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/vamido_0.png" width="110" height="60" alt="" rel="#a612a5fe" /><div id="a612a5fe" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/vamido_0.png" width="110" height="60" alt="" /><p><a href="http://www.vamido.com.ng/" target="_blank">vamido.com.ng</a>&nbsp;is the number one online marketplace for real estate classifieds in Nigeria. Whatever you are looking for: Houses, Apartments, Land or Commercial properties - find them all here. For sale or for rent - your next home might be just a click away.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/westwing_0.png" width="119" height="60" alt="" rel="#b50f8b6a" /><div id="b50f8b6a" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/westwing_0.png" width="119" height="60" alt="" /><p><strong><a href="https://www.westwing.de/" target="_blank">Westwing</a></strong> is a shopping club for Home &amp; Living offering its members daily deals with up to 70% discount on premium home décor and top brand &amp; insider label furniture.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/wimdu_0.png" width="113" height="60" alt="" rel="#c64cd15c" /><div id="c64cd15c" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/wimdu_0.png" width="113" height="60" alt="" /><p><strong><a href="http://www.wimdu.de/" target="_blank">Wimdu</a></strong> helps you to find a perfect apartment away from home – worldwide and stressless. Whether you’re looking for B&amp;B or <a href="http://www.wimdu.com/cape-town/pension">pensions in Cape Town</a>, here you can find something to suit your style and budget. For your short term stay, rent your vacation apartment directly from a private owner. Furthermore Wimdu gives you the opportunity to explore cities in a new and exciting way, allowing you to connect with local people from around the world. </p>
          </div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/work-for-rocket-copy_0.JPG" width="178" height="60" alt="" rel="#a791899c" /><div id="a791899c" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/work-for-rocket-copy_0.JPG" width="178" height="60" alt="" /><p><strong><a href="http://www.work.com.mm/" target="_blank">Work.com.mm </a></strong>is a leading online job board and online recruiting site in Myanmar. People searching for jobs can find the most suitable jobs available in Myanmar within seconds and can apply directly at the company. <br />
          </p>
          </div></div><div class="row-first"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/wunderkarten_1.png" width="126" height="60" alt="" rel="#ba764f36" /><div id="ba764f36" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/wunderkarten_1.png" width="126" height="60" alt="" /><p><strong><a href="http://www.wunderkarten.de/" target="_blank">Wunderkarten.de</a> </strong>is an online service to easily create and order individualized photo cards and modern photo books for many occasions.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/yepdoc.png" width="117" height="60" alt="" rel="#9e2b3d77" /><div id="9e2b3d77" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/yepdoc.png" width="117" height="60" alt="" /><p><strong><a href="http://www.yepdoc.com.br/" target="_blank">Yepdoc</a></strong> is the easy and fast way to find a doctor and plan your doctor's appointments. Vice versa, there is no more comfortable way to acquire new patients than Yepdoc.</p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zalando_0.png" width="107" height="60" alt="" rel="#d7e2e6c1" /><div id="d7e2e6c1" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zalando_0.png" width="107" height="60" alt="" /><p><strong><a href="http://www.zalando.com/" target="_blank">Zalando</a></strong> is one of Europe's leading online shops for shoes and fashion. The shop offers a broad selection of international and local brands at best prices and with compelling customer care. All orders are free of delivery and returning costs. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zalora_0.png" width="120" height="60" alt="" rel="#35ffdea9" /><div id="35ffdea9" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zalora_0.png" width="120" height="60" alt="" /><p><strong><a href="http://www.zalora.com/" target="_blank">Zalora</a></strong> is one of the leading online shops for shoes and fashion in South-East Asia. The shop offers a broad selection of international and local brands at best prices and with compelling customer care. All orders are free of delivery and returning costs. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zando_0.png" width="93" height="60" alt="" rel="#6ee5ab25" /><div id="6ee5ab25" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zando_0.png" width="93" height="60" alt="" /><p><strong><a href="http://www.zando.co.za/" target="_blank">Zando</a></strong> is a leading online shop for shoes, fashion, furnitures, and beauty in South Africa. The shop offers a broad selection of international and local brands at best prices and with compelling customer care. All orders are free of delivery and returning costs. </p>
          </div></div><div class="row-middle"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zanui%20white.jpg" width="143" height="60" alt="" rel="#16a99982" /><div id="16a99982" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zanui%20white.jpg" width="143" height="60" alt="" /><p><strong><a href="http://www.zanui.com.au/" target="_blank">zanui</a></strong> is Australia's online shop for homewears, furniture, lighting and all other decorative touches you need to design your home from top to botttom. The site offers a broad selection of leading and new brands, and is focused on a compelling customer care. </p>
          </div></div><div class="row-last"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zocprint.png" width="102" height="60" alt="" rel="#158282fe" /><div id="158282fe" class="overlay"><img typeof="foaf:Image" src="http://www.rocket-internet.de/sites/default/files/ventures/zocprint.png" width="102" height="60" alt="" /><p><strong><a href="http://www.zocprint.com.br/" target="_blank">Zocprint</a></strong> offers individuals, small business owners, and professionals premium quality products, printing of promotional material such as business cards and flyers, customizables templates and many more for a low price. Zocprint provides many customizable templates online.</p>
          </div></div>    </div>






        </div>  </div>

    </div>
  </div>
</section>
</div>
<!-- END Content -->
</div>

<!-- BEGIN Footer -->
<footer id="footer">
  <div class="page-wrapper container">
    <div id="footer-inner clearfix">
      <!-- REGION -->
      <div class="region region-footer">
        <!-- BLOCK -->
        <div id="block-block-3" class="block block-block">


          <div class="content">
            <div id="footer-inner-left">
              <p>2007-2013 © Osterheim Constructions GmbH - All rights <a href="/contact">Contact</a> <a href="/imprint">Imprint</a></p>
            </div>
            <div id="footer-inner-right">
              <a class="facebook" href="https://www.facebook.com/OsterheimConstructions" target="blank" title="Facebook"><span>Facebook</span></a></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->
</div>
</body>
</html>